/* Add this to your CSS or styles file */

#brand-card {
    overflow: hidden;
  }
  
  #card {
    display: flex;
    animation: marquee-animation 5s linear infinite; /* Adjust the duration as needed */
  }
  
  @keyframes marquee-animation {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  